{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>О проекте</title>
</head>

<body>
    {% block content %}
    <div>
        <h1 class="abouttext"> Разработкой данного продукта занимались студенты факультета Компьютерных наук
            4 группы кафедры Информационных технологий управления кафедры Информационных технологий управления.
            Продукт был реализован в рамках изучения дисциплины «Технологии управления»</h1>
    </div>
    {% endblock content %}
</body>

</html>